/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/assets/uploads/**/*
.DS_Store
/misc
/app/config/*dev*
/.vagrant
.sass-cache/

Potluck/vendor
Potluck/public/vendor
Potluck/public/bower_components
Potluck/bower_components
Potluck/storage
Potluck/bootstrap/cache
index.nginx-debian.html
*.log
node_modules